<div id="wrapper">
    <header>
        <div id="page-banner">
            <h1 class="title">Contact Book</h1>
            <form id="search-contacts">
            <input type="text" placeholder="Search Contacts..." [(ngModel)] = "contactSelected" name="firstname" (input)= "search()"/>
            </form>
        </div>
    </header>
    <div id="contact-list">
        <ul class="container" *ngFor = "let contact of contacts">
            <li class="card flex-row flex-wrap">
                <div class="card-header border-0">
                    <img src="{{contact.avatar}}" alt="">
                </div>
                <div class="card-block px-2">
                    <h4 class="card-title">{{contact.first_name }} {{contact.last_name}}</h4>
                    <p class="card-text">{{contact.email}}</p>
                </div>
            </li>
        </ul>
    </div>
    <ul class="pagination justify-content-center">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
</div>



 
